body{
    background-color: rgb(202, 156, 50);
}
.Main{
    background-color:   black;
    min-height: 500px;
    width: 400px;
    margin: 40px auto;
    border-radius: 40px ;
    box-shadow: 3px 3px 3px  white;
}
.heading{
    color: rgb(250, 250, 240);
    text-align: center;    
}
.listOverFlow{
    height: 500px;
    width: 400px;
    overflow-y: auto;
}
#to-do-form input{
    background-color: rgba(250, 250, 250 );
    border: 0px;
    width: 200px;
    height: 50px;
    padding: 0 20px;
    margin: 20px;
    font-size: 22px;
    border-radius: 18px;
    color: black;
    font: 2em sans-serif;
    
}
#to-do-form input::placeholder{
    color: rgba(255,255,255,0.5);
     
   }
#to-do-form input:focus, #to-do-form button:focus{
    outline:none;
}
#to-do-form button{
    height: 50px;
    width: 80px;
    border-radius: 225px;
    border: 0px;
    background-color: rgb(202, 156, 20);
    cursor: pointer;
    font-weight: bolder;
    color: black;
    box-shadow: 1px 1px white;
}
.list{
    color: black;
    width: 300px;
    background-color:  rgb(202, 156, 30);
    height: 50px;
    margin: 20px auto;
    border-radius: 300px;
    box-shadow: 2px 2px 2px  white;    
}
.list p{
    padding: 10px;
    position: relative;
}
.list p span{
    position: absolute;
    right: -10px;
    cursor: pointer;
}
.faicons{
    margin: 0 50px;
    font-size: 17px;
}

.list p input{
    background-color: transparent ;
    border: 0px;
    color:    black;
    font-size: 22px; 
    font-style: italic;   
}

.list p input:focus{
    outline: none;
}

.time{
    margin-top: -2px;
    color:  black;
    margin-right: 2px;
    font-size: 15px;
    font-style: italic;
    
}